body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
    width: 100vw;
    height: 100vh;
    
    background-color: skyblue;
}
.maze-input{
    width: 390px;
    height: 40px;
    border-radius: 10px;
    outline: none;

    border: 2px solid rgb(63, 94, 198);
    font-size: 16px;
    padding-left: 10px;
}
.generate-button{
    width: 400px;
    height: 40px;
    border-radius: 10px;

    background-color: rgb(63, 94, 198);
    border: none;
    border-bottom: 5px solid rgb(27, 40, 84);
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}