@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: Ubuntu;
}
body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
    width: 100vw;
    height: 100vh;
    
    background-color: skyblue;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}
.section-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.maze-input{
    width: 390px;
    height: 40px;
    border-radius: 10px;
    outline: none;

    border: 2px solid rgb(63, 94, 198);
    font-size: 16px;
    padding-left: 10px;
}
label{
    display: flex;
    align-items: center;
}
input.is_ascii{
    height: 30px;
    width: 30px;
}
button{
    width: 400px;
    height: 40px;
    border-radius: 10px;

    background-color: rgb(63, 94, 198);
    border: none;
    border-bottom: 5px solid rgb(27, 40, 84);
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#maze{
    background-color: white;
    border-radius: 10px;
}
.row{
    display: flex;
}
.cell{
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
    border-radius: 2px;
}
.wall{
    background-image: linear-gradient(45deg, rgb(63, 94, 198), rgb(27, 40, 84));
}
.hidden{
    display: none !important;
}